.home {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 18px;
    /*color: white;*/
    background: url(../img/background.jpg); /* no-repeat center fixed;*/
    background-size: cover;
}

#user_name, #session_id {
    color: white;
}


#sign_in {
    padding-left: 600px;
    padding-top: 550px;
}

.container {
    float: center;
}

#firepad {
    width: 700px;
    height: 750px;
    /*background-color: #483B3B; */
}

.session-item {
    10px solid black;
}
