{% extends "bootstrap/base.html" %} 

{% block title %}Home{% endblock %} 

{% block navbar %}
<div class="navbar navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left" href="/">Hackin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="sessions"><a href="/home">Home</a></li>
                <li><a href="/new">Create Hack</a></li>
                <li><a href="/home">My hacks</a></li>                

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#">Help</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.authenticate')}}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="container-fluid">

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
