{% extends "base.html" %} 

{% block title %} Hackin - Home{% endblock %} 

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="col-md-2 well ">

<h3>Available Users</h3>
    {% for user  in users %}
    
    <div class="list-group" id="code-sessions">

        <button type="button" class="list-group-item" id = "online-users">{{user.username}} </button>            

    </div>
    {% endfor %}
    {% else %}
{% endif %}
</div>


<div class="col-md-1"></div>
<div class="container col-md-6 well"> {% if current_user.is_authenticated %}
<h3>Saved sessions</h3>
    <h1 id="username">{{current_user.username}}</h1> 
    {% for sess in sessions %}
    <div class="list-group" id="code-sessions">
        {% if sess.session_address %}
        <a href="{{session.session_address}}">
        {% else %}
        <a href="#" >
        {% endif %}
          <h4 class="list-group-item">{{sess.session_name}}</h4>
          <!-- <button type="button" class="list-group-item">{{session.session_name}}</button> -->            
        </a>
        <!-- <p class="list-group-item-text">This is a session written in {{session.session_lang}}</p> -->
        <a href="/delete:{{session.id}}">
            <button type="button" class="btn btn-danger list-group-item-btn">Delete Session</button>
        </a>
    </div>
    {% endfor %} {% else %} Please <a href="/login">Sign in</a> to start hacking or <a href="/signup">Sign up</a> if you are a new user {% endif %}
</div>
{% block scripts %} {{super()}}
<!-- firebase -->
<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
<!-- ace  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
<!-- firepad -->
<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.3.0/firepad.css" />
<link rel="stylesheet" href="../static/css/style.css" />
<script src="https://cdn.firebase.com/libs/firepad/1.3.0/firepad.js"></script>
<script src="../static/js/editor.js"></script>
{% endblock %} {% endblock %}
