{% extends "base.html" %} 
{% block title %} Hackin - Home{% endblock %} 

{% block page_content %}
<h1>Welcome {% if current_user.is_authenticated %} {{ current_user.username }} {% else %} {% endif %}! </h1>

<div class="container">
    <div id="firepad"></div>
</div>

{% block scripts %} {{super()}}
<!-- firebase -->
<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
<!-- ace  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
<!-- firepad -->
<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.3.0/firepad.css" />
<script src="https://cdn.firebase.com/libs/firepad/1.3.0/firepad.min.js"></script>
<script src="../static/js/editor.js"></script>
{% endblock %} {% endblock %}
