<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hackin | Collaborative Pair programming</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body class="home">
    <div id="sign_in">        
        <h1>Hackin. Because two programmers are better than one. </h1>
        <a href="/login"><button class="button btn btn-primary" >Sign in</button></a>
		<p>or </p>
        <a href="/signup"><button class="button btn btn-primary" >Sign up</button></a>
        
    </div>
</body>

</html>
